.body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
  }
  
  .a {
    text-decoration: none;
  }
  
  .ul {
    list-style: none;
  }
  
  .input {
    width: 100%;
  }
  
  .input:focus {
    outline: none;
    border: none;
  }
  
  .container {
    max-width: 1120px;
    margin: auto;
  }
  
  @media only screen and (max-width: 1168px) {
    .container {
      padding-inline: 24px;
    }
  }
  
  @media only screen and (max-width: 1120px) {
    .container {
      padding-inline: 16px;
    }
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background-color: #fff;
  }
  
  @media only screen and (max-width: 1168px) {
    .header {
      padding-inline: 24px;
    }
  }
  
  @media only screen and (max-width: 1120px) {
    .header {
      justify-content: space-between;
      padding: 30px 0;
      padding-inline: 16px;
    }
  }
  
  .logoWrapper img {
    cursor: pointer;
  }
  
  .actionsWrapper img {
    cursor: pointer;
  }
  
  .shoppingCartBtn {
    border: none;
    background: none;
    text-decoration: none;
  }
  
  .searchWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  @media only screen and (max-width: 1120px) {
    .searchWrapper {
      display: none;
    }
  }
  
  .searchWrapper input {
    width: 372px;
    padding: 20px 35px 20px 35px;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    color: #000;
  }
  
  .searchWrapper input::placeholder {
    color: #989898;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  
  .searchWrapper .searchIcon {
    position: absolute;
    left: 16px;
    width: 16px;
    z-index: 1;
  }
  
  .navBar {
    display: flex;
    gap: 52px;
  }
  
  @media only screen and (max-width: 1120px) {
    .navBar {
      display: none;
    }
  }
  
  .navBar li {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    color: #000;
  }
  
  .nonActiveNavBar {
    color: #989898;
  }
  
  .actionsWrapper {
    display: flex;
    gap: 24px;
  }
  
  @media only screen and (max-width: 1120px) {
    .actionsWrapper {
      display: none;
    }
  }
  
  .burgerMenu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 1120px) {
    .burgerMenu {
      display: flex;
    }
  }
  
  .burgerMenu span {
    display: block;
    width: 25px;
    height: 2.5px;
    background-color: #080341;
  }
  